/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
@font-face {
    src: url('fonts/Roboto-Regular.ttf');
    font-family: "Roboto Regular";
}
@font-face {
    src: url('fonts/Roboto-Bold.ttf');
    font-family: "Roboto Bold";
}

body {
    font-family: "Roboto Regular", Arial, Helvetica;
}
h1,h2 {
    font-family: "Roboto Bold";
}

header {
    display: flex;
    justify-content:space-between;
    margin: 0px 40px 100px;
    padding-top: 30px;
}
.header__nav-and-btn {
    display: flex;
}
nav {
    display: flex;
    align-items:center;
}

li {
    display: inline;
}
li a {
    padding: 0px 15px;
    font-size: 16px;
    color: rgb(27,27,27,1);
    ;
}

a:hover, button:hover {
    color: red;
    cursor: pointer;
    }

button {
    padding: 12px 30px;
    border: 1px solid rgba(27, 27, 27, 0.4);
    box-sizing: border-box;
    border-radius: 6px;
    font-size: 16px;
    margin-left: 25px;
}


.top-image {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

h1 {
    font-size: 64px;
    text-align: center;
    margin-bottom: 30px;
}

p {
    text-align: center;
}

.about-us {
    margin-bottom: 80px;
}
.about-us p {
    font-size: 24px;
    margin: 0px 258px;
}

h2 {
    font-size: 48px;
    text-align: center;
}

.contacts {
    margin-bottom: 80px;
    background-color: rgb(247,249,251,1);
} 
.contacts h2 {
    padding: 80px 0px 40px;
}
.contacts__text {
    display: flex;
    justify-content: center;
}
.rectangle {
    width: 1px;
    height: 62px;
    background-color: rgb(200,200,207,1);
    margin: 0px 68px 100px 69px;
}
.contacts__text__type {
    font-size: 14px;
    color: rgb(79,79,79,1);
    padding: 6px 0px;

}
.contacts__text__type-name {
    font-size: 20px;
}

.team {
    margin-bottom: 120px;
}
.team h2 {
    margin-bottom: 55px;
}
.team__cards__first-row, .team__cards__second-row {
    display: flex;
    justify-content: center;
}
.team__cards__first-row {
    margin-bottom: 60px;
}
.person-card-photo {
    width: 180px;
    height: 180px;
    margin: 0px 41px;
}
p.name {
    font-size: 20px;
    padding: 23px 0px 8px;
}
p.position {
    color:rgb(130,130,130,1);
    font-size: 14px;
}

footer {
    height: 124px;
    background-color: rgb(63,61,86,1);
    display: flex;
    justify-content:space-between;
    align-items: center;
}
footer p {
    padding-left: 40px;
    color: rgb(255,255,255,1);
    font-size: 16px;
}
.footer-icons {
    display: flex;
    padding-right: 40px;
}

.footer-icons img {
    padding: 0px 10px;
}

.icon-insta:hover, .icon-vk:hover, .icon-fb:hover {
    background-color: rgb(35, 197, 57);
}
